.services-content {
  margin-top: 13px;
  display: flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 1;
}

.first-services,
.second-services {
  width: 286px;
  margin-right: 41px;
  margin-right: 2.1vw;
}

.services-link {
  all: unset;
  cursor: pointer;
  color: rgba(134, 134, 134, 1);
}

.services-link:hover {
  color: white;
  transition: color 1s ease;
}

.services-link img {
  width: 28px;
  margin-left: 10px;
  padding-bottom: 4px;
}

@media (orientation: portrait) and (max-width: 656px) {
  .services-content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.5;
  }

  .services-link {
    font-weight: 600;
  }

  .services-link img {
    width: 28px;
    margin-left: 10px;
    padding-bottom: 4px;
  }
}

@media (max-width: 1240px) and (max-height: 500px) {
  .services-content {
    font-size: clamp(14px, 16px, 18px);
  }

  .first-services,
  .second-services {
    width: clamp(170px, 210px, 240px);
  }

  .first-services div,
  .second-services div {
    height: 30px;
  }

  @media (orientation: landscape) and (width < 656px) {
    .services-content {
      margin-top: 4px;
      font-weight: 400;
      font-size: clamp(8px, 2.5vw, 14px);
      line-height: 26px;
      letter-spacing: 0px;
    }

    .first-services div,
    .second-services div {
      height: clamp(14px, 4vw, 40px);
    }

    .first-services,
    .second-services {
      width: 30vw;
    }

    .second-services {
      min-width: 160px;
    }

    .services-link img {
      width: 16px;
      padding: 0;
      padding-bottom: 2px;
    }
  }
}
