.video-container {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: fill;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

#showInfo {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#notShowInfo {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contentShow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-bottom: 90px;
}

.on-off {
  align-self: center;
  justify-self: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  border: none;
  width: clamp(55px, 3.6vw, 65px);
  height: clamp(55px, 3.6vw, 65px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 90px;
}

.on-off span {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.content-information {
  display: flex;
  width: 74vw;
  margin-left: 14vw;
  justify-content: space-between;
}

.video-title {
  height: clamp(120px, 125px, 140px);
  color: rgba(255, 209, 47, 1);
  font-family: ASPHALTIC;
  justify-self: self-end;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 400;
  align-self: self-end;
  margin-bottom: 50px;
}

.video-description {
  font-size: clamp(20px, 1.5vw, 30px);
  line-height: 24px;
  letter-spacing: 0.05em;
}

.video-videoName {
  font-size: 124px;
  font-size: clamp(110px, 7vw, 140px);
  line-height: 124px;
  letter-spacing: 0.04em;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.information-container div {
  font-weight: 400;
  font-size: clamp(14px, 1vw, 20px);
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.information-image {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-content: center;
  margin-bottom: 20px;
}

.information-image img {
  width: clamp(150px, 10vw, 200px);
  height: auto;
  margin-right: 8px;
}

.ageLimit {
  align-self: center;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
}

.information-container2 {
  margin-top: 18px;
}

.lineProgress {
  margin-top: 16px;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progressTime {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 1);
}

.lineProgress,
.progressTime {
  width: 331px;
  width: clamp(310px, 17vw, 400px);
}

/* .video-footerPrev {
  margin-left: 18.75vw;
  margin-left: 14vw;
  position: absolute;
  bottom: 9.5%;
  left: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-content: center;
  width: auto;
  height: 14px;
  
} */

.video-footerPrev {
  margin-left: 18.75vw;
  margin-left: 14vw;
  position: absolute;
  bottom: 9.5%;
  left: 0;
  text-decoration: none;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-content: center;
  width: auto;
  height: auto;
  cursor: pointer;
}

.video-footerPrev div {
  padding-right: 7px;
}

.handleProject {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-weight: 300;
  font-size: 18px;
  font-size: clamp(14px, 1vw, 20px);
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media (orientation: portrait) and (max-width: 700px) {
  .video-container {
    padding: 0 auto;
  }

  /* высота до 700px */
  .on-off {
    width: clamp(55px, 3.6vw, 65px);
    height: clamp(55px, 3.6vw, 65px);
    margin-left: 40px;
    margin-bottom: 0;
  }

  .on-off span {
    font-size: 15px;
  }

  .contentShow {
    @media (orientation: portrait) and (height > 750px) {
      padding-bottom: 18vh;
    }
  }

  .content-information {
    flex-direction: column;
    margin-left: 0;
    width: 100vw;
  }

  .video-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 125px;
    margin-bottom: 0;
  }

  .video-description {
    font-size: clamp(14px, 16px, 19px);
    line-height: 16px;
    margin-bottom: 0px;
  }

  .video-videoName {
    font-size: clamp(76px, 81px, 83px);
    font-weight: 400;
    line-height: 81px;
  }

  .information-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .information-container1 {
    order: 2;
  }

  .information-container div {
    font-size: clamp(14px, 1vw, 20px);
    text-align: center;
  }

  .information-container2 {
    @media (orientation: portrait) and (height < 630px) {
      margin-top: 0;
    }
  }

  @media (orientation: portrait) and (height < 630px) {
    .contentShow {
      padding-bottom: 50px;
    }
    .video-title {
      height: auto;
    }
    .video-description {
      font-size: 13px;
    }
    .video-videoName {
      font-size: 66px;
    }
    .lineProgress,
    .progressTime,
    .information-image {
      margin-top: 6px;
    }
  }

  .information-image img {
    width: clamp(90px, 30vw, 120px);
  }

  .video-footerPrev {
    bottom: 7%;
    margin-left: 28px;
  }
}

@media (orientation: landscape) and (height < 700px) {
  .contentShow {
    padding-bottom: 10vh;
  }

  .on-off {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .video-title {
    height: auto;
  }
  .lineProgress,
  .progressTime,
  .information-image {
    margin-top: 6px;
  }

  .lineProgress,
  .progressTime {
    width: 270px;
  }

  .information-image {
    margin-bottom: 5px;
  }

  .information-image img {
    width: clamp(90px, 30vw, 120px);
  }

  .information-container {
    justify-content: start;
  }

  .information-container2 {
    margin-top: 5px;
  }

  .video-footerPrev {
    margin-left: 28px;
  }

  @media (orientation: landscape) and (height < 450px) {
    .on-off {
      position: absolute;
      top: 50%;
    }
    .content-information {
      margin-left: 30px;
      width: 94vw;
    }
  }
}
