* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

.contentWrapper {
  /* flex: 1 0 auto; */
}

@media (max-width: 656px) {
  /* 331px */
  .App {
    padding: 0 0;
  }

  .contentWrapper {
    margin-top: 14vh;
  }
}
