@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), url(./Fonts/Gilroy-Light.ttf) format("truetype"); /* 300 */
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, Gilroy, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020202;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
