@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), url(../public/fonts/Gilroy-Light.ttf) format("truetype"); /* 300 */
  font-display: swap;
}

@font-face {
  font-family: "ASPHALTIC";
  src: local("Gilroy-Light"),
    url(../public/fonts/asphalticgrainrusbylyajka_bold.ttf) format("truetype"); /* 400 */
  font-display: swap;
}

@font-face {
  font-family: "DrukCyr";
  src: local("Gilroy-Light"), url(../public/fonts/DrukCyrSuper.ttf) format("truetype"); /* 400 */
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, Gilroy, ASPHALTIC, DrukCyr, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020202;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}