.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: transparent; /* ? */
}

.modal-container-background {
  width: 57vw;
  min-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(116, 116, 116, 0.1);
  border-radius: 20px;
  padding: 50px 95px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(116, 116, 116, 0.1);
  backdrop-filter: blur(16px);
}

.modal-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

/* углы */

.corner {
  position: absolute;
  width: 70px; /* Ширина изображения угла */
  height: 70px; /* Высота изображения угла */
}

.top-left {
  top: 6px; /* Сдвигаем вверх на 30px */
  left: 10px; /* Сдвигаем влево на 30px */
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  padding-left: 2px;
  padding-top: 5px;
}

.top-left img {
  width: 45px;
  height: 45px;
}

.top-right {
  top: 6px;
  right: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  padding-top: 10px;
}

.top-right img {
  width: 100%;
  height: auto;
}

.bottom-left {
  bottom: 0px;
  left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  padding-top: 40px;
  padding-left: 5px;
}

.bottom-left div {
  font-family: DrukCyr;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1;
  font-weight: 500;
}

.bottom-right {
  bottom: 0px;
  right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  padding-top: 35px;
}

.bottom-right img {
  width: 107px;
  height: 30px;
  position: absolute;
  right: 10px;
}

/* углы */

.modal-container h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  font-size: clamp(26px, 1.8vw, 38px);
  line-height: 42px;
  color: rgba(255, 27, 27, 1);
  text-shadow: 0px 4.13px 107.44px rgba(0, 0, 0, 1);
  margin-bottom: 12px;
}

.modal-container div {
  font-size: 20px;
  font-size: clamp(14px, 1vw, 23px);
}

.modal-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 21vw;
  min-width: 300px;
}

.modal-form input,
.modal-form textarea {
  text-decoration: none;
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  color: white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  text-shadow: 0px 4.13px 107.44px rgba(0, 0, 0, 1);
}

.modal-form input {
  padding-left: 11px;
  padding-bottom: 10px;
}

.nameInput {
  margin-bottom: 32px;
}

.modal-form textarea {
  margin-top: 90px;
  margin-bottom: 15px;
  padding-left: 10px;
  resize: none;
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background: none;
  box-shadow: none;
}

.fileUpload {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 4px;
}

.fileUpload span {
  font-size: 12px;
}

.fileUpload span img {
  width: 24px;
  height: 24px;
}

.modal-form button {
  width: 181px;
  height: 44px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 134px;
  color: rgba(255, 255, 255, 1);
  color: white;
  text-align: center;
  align-self: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 22px;
  display: flex;
  align-items: center;
}

.arrow-up-modal {
  margin-left: 12px;
  font-size: 12px;
  height: auto;
  font-weight: 300;
  padding-bottom: 5px;
}

.fileUpload span img {
  width: 24px;
  height: 24px;
}

@media (orientation: portrait) and (max-width: 656px) {
  .modal-background {
    height: 80vh;
    height: 500px;
    margin-top: 20vh;
  }

  .modal-container-background {
    width: 80vw;
    min-width: auto;
    height: auto;

    padding: 26px 13px;
    display: flex;
    justify-content: center;
  }

  .modal-container {
    width: 80vw;
    display: flex;
    min-width: auto;
  }

  /* углы */

  .corner {
    position: absolute;
    width: 40px;
    height: 40px;
  }

  .top-left {
    top: 6px;
    left: 10px;
    padding-left: 2px;
    padding-top: 5px;
  }

  .top-left img {
    width: 22px;
    height: 22px;
  }

  .top-right {
    top: 6px;
    right: 10px;
    padding-top: 10px;
  }

  .top-right img {
    width: 100%;
    height: auto;
  }

  .bottom-left {
    bottom: 0px;
    left: 10px;
    padding-top: 6px;
    padding-left: 5px;
  }

  .bottom-left div {
    font-family: Druk Cyr;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1;
    font-weight: 500;
  }

  .bottom-right {
    bottom: 0px;
    right: 10px;
    padding-top: 0;
  }

  .bottom-right img {
    width: 107px;
    height: 30px;
    position: absolute;
    right: 10px;
  }

  /* углы */

  .modal-container h2 {
    font-size: 18px;
    font-size: clamp(18px, 5.8vw, 23px);
    margin-top: 45px;
    margin-bottom: 0px;
  }

  .modal-container div {
    font-size: 11px;
    font-size: clamp(9px, 3.3vw, 15px);
  }

  .modal-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    min-width: auto;
    max-width: 315px;
    width: 70vw;
  }

  .modal-form input,
  .modal-form textarea {
    text-decoration: none;
    background: transparent;
    border: none;
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.4);
    color: white;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    text-shadow: 0px 4.13px 107.44px rgba(0, 0, 0, 1);
  }

  .modal-form input {
    padding-left: 15px;
    padding-bottom: 6px;
  }

  .modal-form textarea {
    padding-bottom: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .fileUpload span {
    font-size: 10px;
  }

  .modal-form button {
    width: 149px;
    height: 36px;
    margin-bottom: 45px;
  }

  .nameInput {
    margin-bottom: 17px;
  }

  .modal-form textarea {
    margin-top: 51px;
  }

  @media (orientation: portrait) and (width < 370px) {
    .corner {
      width: 26px;
      height: 26px;
    }

    .top-left img {
      width: 18px;
      height: 18px;
    }

    .top-right {
      padding-top: 5px;
    }

    .bottom-left {
      padding-top: 0;
    }

    .bottom-left div {
      font-size: 10px;
    }

    .bottom-right {
      padding: 4px;
    }

    .bottom-right img {
      width: 64px;
      height: 18px;
    }

    .modal-container h2 {
      font-size: clamp(15px, 6.6vw, 18px);
    }

    .modal-container div {
      font-size: 10px;
    }

  }

  @media (orientation: portrait) and (height < 170px) {
    .modal-container {
      min-height: 340px;
    }

    .modal-container h2 {
      margin-top: 0;
    }

    .modal-form {
      margin-top: 13px;
    }

    .modal-form input {
      margin-bottom: 8px;
    }

    .modal-form textarea {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .fileUpload {
      margin-bottom: 4px;
    }
  }
}

@media (width < 1200px) and (width > 657px) {
  .modal-container-background {
    padding: 50px 40px;
  }
}
